@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap");
body {
  font-family: 'Source Sans Pro',sans-serif;
  font-weight: 400; }

h1, .uk-h1, h2, .uk-h2, h3, .uk-h3, h4, .uk-h4, h5, .uk-h5, h6, .uk-h6, .uk-heading-small, .uk-heading-medium, .uk-heading-large, .uk-heading-xlarge, .uk-heading-2xlarge {
  font-family: 'Source Sans Pro', sans-serif !important; }

.uk-container-padded {
  background: white;
  padding: 1.3rem;
  border-radius: 10px; }
.uk-container-bordered {
  border: #e3e3e3 solid 1px; }

.uk-button {
  border-radius: 5px !important; }
  .uk-button-primary {
    background: #ABD52C !important; }
  .uk-button-secondary {
    background: #492756 !important; }

.uk-text-green {
  color: #ABD52C; }
.uk-text-purple {
  color: #492756; }
.uk-text-white {
  color: white; }

.uk-tab::before {
  border-bottom: none !important; }
.uk-tab > * > a {
  padding: 10px 20px !important;
  text-transform: capitalize !important; }
.uk-tab > .uk-active > a {
  background: #ABD52C;
  border-radius: 50px;
  border: none;
  transition: .3s ease-in-out; }

.uk-dropdown-results-selector {
  min-width: 100px !important; }

.uk-input, .uk-select, .uk-textarea {
  font-size: 1rem !important;
  height: 45px !important;
  padding: 0 20px !important; }

.uk-input, .uk-select {
  border-radius: 5px !important;
  border: #8e8e8e solid 1px !important; }

.uk-form-bordered {
  background: #f8f8f8;
  border: #e3e3e3 solid 1px; }
.uk-form .uk-textarea {
  min-height: 100px; }

.uk-checkbox, .uk-radio {
  width: 24px !important;
  height: 24px !important; }

.uk-table .pm-0 th {
  padding: 0;
  margin: 0;
  line-height: 0; }
.uk-table th {
  font-weight: 700 !important;
  color: #492756 !important; }
.uk-table-bordered {
  border: #e3e3e3 solid 2px; }

.uk-search-default-large {
  width: 500px !important; }
.uk-search-default .uk-search-input {
  border-radius: 50px; }
.uk-search-input {
  background: white !important; }

.uk-horizontal-menu.uk-nav li.uk-active > a {
  background: #ABD52C;
  border-radius: 50px;
  transition: .3s ease-in-out;
  color: #492756 !important; }
.uk-horizontal-menu.uk-nav li a {
  font-size: .875rem;
  padding: 10px 20px !important;
  text-transform: capitalize !important;
  color: #555 !important; }

.uk-navbar-container {
  background: white !important; }
  .uk-navbar-container .uk-navbar-nav > li > a {
    font-family: 'Source Sans Pro',sans-serif;
    text-transform: capitalize;
    color: #492756;
    font-size: 1rem; }

.uk-logo img {
  max-height: 50px; }

.uk-section .uk-nav.uk-dropdown-nav li {
  display: block; }
.uk-section .uk-nav li {
  display: inline-block;
  margin-left: 5px; }
.uk-section-default {
  background: #f7f7f7 !important; }
.uk-section-fullheight {
  height: 100vh; }
.uk-section-medium {
  padding-top: 50px !important;
  padding-bottom: 50px !important; }
.uk-section-bottom-expand {
  background: #f7f7f7; }
.uk-section-purple {
  background: #492756;
  color: lightgray; }
.uk-section-login {
  background: url("../images/bg-family.jpg") no-repeat top center; }
.uk-section-pwd {
  background: url("../images/bg-pwd.jpg") no-repeat top center; }
.uk-section-lightbackground {
  background: url("../images/bg-white.jpg") no-repeat top center;
  min-height: 450px !important; }

.uk-footer {
  background: #ABD52C; }

.uk-offcanvas-bar {
  background: #492756 !important; }
  .uk-offcanvas-bar .uk-nav > li > a {
    font-size: 1rem;
    color: white !important; }

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  height: 0; }

.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

@media only screen and (max-width: 47.9rem) {
  .uk-section-lightbackground {
    min-height: 400px !important; }

  .uk-navbar-container .uk-navbar-toggle {
    color: #492756; }
    .uk-navbar-container .uk-navbar-toggle svg {
      width: 27px; }
  .uk-navbar-container .uk-navbar-left {
    margin-left: 0 !important;
    margin-right: 0 !important; }
  .uk-navbar-container .uk-navbar-item {
    min-height: 55px; }
  .uk-navbar-container .uk-navbar-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    background: #492756;
    width: 100%;
    text-align: center;
    justify-content: center;
    padding: 5px 0;
    border-top: #2c1634 solid 2px; }
  .uk-navbar-container .uk-navbar-nav > li > a {
    font-size: .85rem;
    padding: 0 10px;
    margin: 0 10px;
    min-height: 50px;
    color: #f7f7f7; }

  .uk-logo img {
    max-height: 55px; }

  .uk-footer {
    margin-bottom: 60px !important; }

  .userway.userway_p5 {
    bottom: 70px !important; } }
